/* Custom Styles */
body {
    scroll-behavior: smooth;
  }
  
  .portfolio-info {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .portfolio-info:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  






.progress-bar {
    width: 0;
    height: 100%;
    background-color: #00bcd4; /* Customize to match your theme */
    transition: width 2s ease-in-out;
  }
  
  
  
  /* Custom CSS for Jessi's Portfolio */
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }
  
  .hero .container {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .portfolio-info {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .portfolio-info:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  
  .skills-content .progress-bar {
    transition: width 2s ease;
  }
  
  
  
  
